* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --accent-color: rgb(25, 211, 0);
    --accent-color-faded: rgb(74, 102, 70);
    --error-color: crimson;
}

body {
    background-color: var(--background-color);
    color: var(--accent-color);

    overflow: hidden;
}