* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --accent-color: rgb(25, 211, 0);
    --accent-color-faded: rgb(74, 102, 70);
}

body {
    background-color: var(--background-color);
    color: var(--accent-color);
}

main {
    width: 1000px;
    height: fit-content;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    padding: 20px 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

.btn {
    width: fit-content;
    font-size: 32px;
    cursor: pointer;

    &.inactive {
        color: var(--accent-color-faded);

        cursor: default;
    }

    &:hover:not(.inactive) {
        font-style: italic;
    }
}